@import "../assets/mixins/color";
@import "../assets/mixins/font";
@import "../assets/mixins/style";
@import "../assets/mixins/breakpoints";

.sectionThree{
    z-index: 10;
    min-height: 20vh;
    display: flex;
    align-items: center;
    background: #2C2D31;
    padding: 0 5.6rem;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $bg-dark;
    font-family: 'Roboto Flex', sans-serif;

    @media (max-width: $l-scr) {
        padding: 1rem;
    }

    .txt-recent{
        margin-bottom: 1rem;
    }

    .p-desc{
        line-height: 1.5;
        letter-spacing: 2px;
        font-weight: 200;
    }

    .tzoid{
        width: 100%;
        height: 425px;
        // transform: perspective(10px) rotateX(1.5deg);
        // -webkit-filter: grayscale(100%);
        // filter: grayscale(100%);
        transition: .5s ease;

        &:hover{
            transition: .1s ease;
            -webkit-filter: none;
            filter: none;
            box-shadow: 0px 5px 15px 0px rgba(0,234,196,0.75) !important;
            -webkit-box-shadow: 0px 5px 15px 0px rgba(0,234,196,0.75) !important;
            -moz-box-shadow: 0px 5px 15px 0px rgba(0,234,196,0.75) !important;
        }

        @media (max-width: $minipc-scr) {
            height: 350px;
        }

        @media (max-width: $tab-scr) {
            height: 230px;
        }

        @media (max-width: $lg-scr) {
            height: 220px;
        }

        @media (max-width: $md-scr) {
            height: 170px;
        }

        @media (max-width: $s-scr) {
            height: 160px;
        }

        @media (max-width: $xs-scr) {
            height: 130px;
        }
    }

    .box-works{
        .bw-title{
            margin-top: 2rem;
            font-size: 2.5rem;
            font-weight: 200;
            color: #fff;
            line-height: 1.3;

            @media (max-width: $tab-scr) {
                margin-top: .7rem;
            }

            @media (max-width: $lg-scr) {
                margin-top: .8rem;
            }

            @media (max-width: $md-scr) {
                font-size: 1.5rem;
                margin-top: 1rem;
            }
        }

        .p-desc{
            margin-top: 5px;

            @media (min-width: $lg-scr) and (max-width: $tab-scr) {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;  
                overflow: hidden;
            }

            @media (max-width: $md-scr) {
                font-size: 0.8rem;
            }
        }

        ul li{
            list-style: none;
            color: $txt-cloud;

            i{
                margin-right: 5px;
            }
        }

        .clickme{
            color: $txt-cloud;
            font-weight: 200;
            display: inline-block;
            margin-top: 2rem;

            &:link, &:active, &:visited{
                text-decoration: none;
            }

            &:hover{
                color: $txt-green;
                cursor: pointer;
                text-decoration: none;
            }

            @media (max-width: $tab-scr) {
                margin-top: .7rem;
            }

            @media (max-width: $md-scr) {
                margin-top: 1rem;
                font-size: 0.8rem;
            }

            i{
                margin-right: 5px;
                font-size: .8rem;
            }
        }
    }

    .dontshow-sp{
        @media (max-width: $md-scr){
            display: none;
        }
    }

    .preview{

        .title-preview{
            margin-top: 1rem;
            font-size: 2rem;
            font-weight: 200;
            color: #fff;
            line-height: 1.3;
            margin-bottom: 2.5rem;


            @media (max-width: $tab-scr) {
                margin-top: .7rem;
            }

            @media (max-width: $lg-scr) {
                margin-top: .8rem;
            }

            @media (max-width: $md-scr) {
                font-size: 1rem;
                margin-top: .5rem;
                margin-bottom: 1.5rem;
            }
        }

        .small-preview{
            width: 100%;
            height: 230px;
            transition: .5s ease;

            &:hover{
                transition: .1s ease;
                -webkit-filter: none;
                filter: none;
                box-shadow: 0px 5px 15px 0px rgba(0,234,196,0.75) !important;
                -webkit-box-shadow: 0px 5px 15px 0px rgba(0,234,196,0.75) !important;
                -moz-box-shadow: 0px 5px 15px 0px rgba(0,234,196,0.75) !important;
            }
    
            @media (max-width: $tab-scr) {
                height: 150px;
            }
    
            @media (max-width: $lg-scr) {
                height: 100px;
            }
    
            @media (max-width: $md-scr) {
                height: 150px;
            }
    
            @media (max-width: $s-scr) {
                height: 150px;
            }
    
            @media (max-width: $xs-scr) {
                height: 130px;
            }
        }

    }

    .img-ktasia{
        background-image: url(../assets/img/sec-ktasia.png);
        @include ext-img;
    }

    .img-itec{
        background-image: url(../assets/img/itec.png);
        @include ext-img;
    }

    .img-clubh{
        background-image: url(../assets/img/sec-clubh.png);
        @include ext-img;
    }

    .img-jpcasino{
        background-image: url(../assets/img/jpcasinopro.png);
        @include ext-img;
    }

    .img-qnalysis{
        background-image: url(../assets/img/sec-qnalysis.png);
        @include ext-img;
    }

    .img-slogin{
        background-image: url(../assets/img/sec-slogin.png);
        @include ext-img;
    }

    .img-crypto{
        background-image: url(../assets/img/sec-cryptograph.png);
        @include ext-img;
    }

    .img-petacoin{
        background-image: url(../assets/img/sec-peta.png);
        @include ext-img;
    }

    .img-proshop{
        background-image: url(../assets/img/sec-proshop1.png);
        @include ext-img;
    }

    .img-proshop2{
        background-image: url(../assets/img/sec-proshop2.png);
        @include ext-img;
    }

    .img-proshop2{
        background-image: url(../assets/img/sec-proshop2.png);
        @include ext-img;
    }

    .img-toolalgo{
        background-image: url(../assets/img/sec-toolalgo.png);
        @include ext-img;
    }

    .img-oven{
        background-image: url(../assets/img/sec-oven.png);
        @include ext-img;
    }

    .img-psms{
        background-image: url(../assets/img/sec-psms.png);
        @include ext-img;
    }

    .img-itec{
        background-image: url(../assets/img/sec-itec.png);
        @include ext-img;
    }

    .img-bottleline{
        background-image: url(../assets/img/sec-bottleline.png);
        @include ext-img;
    }

    .img-myrecipe{
        background-image: url(../assets/img/sec-myrecipe.png);
        @include ext-img;
    }

}